*{
	margin: 0;
	padding: 0;
}

body{
	font-family: monospace,  sans-serif;
	color: #fff;
	height: 100vh;
	overflow: hidden;
}

header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/myimage.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover;
}

.hero{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	text-align: center;
}

a{
	color: #fff;
	text-decoration: none;
	font-weight: 300;

	border: 2px solid #fff;
	padding: 8px 12px;
	border-radius:5px;
}

h1{
	font-size: 45px;
	letter-spacing: 0.2rem;
}

hr{
	width: 50%;
	margin: 1.5rem auto;
	border: 1.5px solid #fff;
}

p{
	font-size: 1.25rem;
	margin-bottom: 1.9rem;
}
